<main class="hacia-abajo">
  <div class="titulo">
    <h2>Historial</h2>
  </div>

  <div class="container">
    <div class="row flex-lg-nowrap">

      <div class="col">
        <div class="mb-3">
          <div class="overflow-hidden card table-nowrap table-card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Compras</h5>
            </div>
            <div class="table-responsive" >
              <table class="table mb-0">
                <thead class="small text-uppercase bg-body text-muted">
                  <tr>
                    <th>Fecha</th>
                    <th>Compra</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th class="text-end">N° de pedido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="align-middle">
                    <td>15/05/2022</td>
                    <td>Plan Soy Profesional - 1 mes</td>
                    <td>$ 1000</td>
                    <td>Completado</td>
                    <td class="text-end">001</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
  </div>
</main>